{{ app_tf_header }}

terraform {
  backend "azurerm" {
    resource_group_name  = "qvc-iac-prod"
    storage_account_name = "qvciacprod"
    container_name       = "tfstate"
    key                  = "{{ qvc_mnemonic }}-{{ qvc_environment_name }}.tfstate"
    subscription_id      = "{{ hostvars['P000']['vdc_id'] }}"
  }
}

{{ app_tf_footer }}
